.main-information {
    height: auto;
    width: 500px;
    background-color: black;
}

.text {
    background-color: orange;
}

.text-two {
    background-color: blue;
}

.text-three {
    background-color: green;
}