.main-take-care {
    background-color: #47A1BC;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;

    
}

.image-container {
    align-items: center;
    justify-content: center;
}