.images {
    display: flex;
    justify-content: center;
    align-items: center;

}

.text1 {
    display: flex;
    margin: 10px;

}

.text2 {
    display: flex;
    margin: 10px;
}

.text-container {
    width: 80%;
    text-align: center;
    margin: auto;
}

