body {
    margin: none;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}

.Slider{
    height: 450px;
}

.Slider img{
    width: 100%;
    height: auto;
    position: relative;
}

.Footer{
background-color: #FC8F2F;
height: 180px;
align-items: center;
justify-content: center;
color: white;
}